body{
  background-color: black;
  padding: 0px;
  margin: 0px;
  height: 100%;
  overflow: hidden;
  position: fixed;
}

.toggle {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: absolute;
  margin: auto;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 2;
}


.menu {
  height: 100px;
  width: 100px;
  transform: scale(0);
  transition: 0.7s;
  position: absolute;
  margin: auto;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
}

a {
  display: inline-block;
  position: absolute;
  font-size: 15px;
  opacity: 0.7;
  color: rgba(255, 255, 255, 0.5);
}

a:nth-child(1){
  top: 6px;
  left: 45px;
}

a:nth-child(2){
  top: 24px;
  left: 77px;
}

a:nth-child(3){
  top: 58px;
  left: 76px;
}

a:nth-child(4){
  top: 78px;
  left: 42px;
}

a:nth-child(5){
  top: 58px;
  left: 10px;
}

a:nth-child(6){
  top: 23px;
  left: 12px;
}

a:hover {
  opacity: 1;
}